body {
  font-family: "Arial", sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  display: flex;
}
header {
  background: rgb(245, 217, 248, 0.5);
  height: 120px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  gap: 12px;
}

nav a {
  text-decoration: none;
  display: inline-flex; /* Щоб кнопки були рівні */
  align-items: center;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 12px; /* Відступи між елементами всередині груп */
}

.border-button {
  border: 2px solid rgba(241, 179, 248, 0.5);
  padding: 8px 14px;
  border-radius: 8px;
}

.search-form {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 30%;
}

.search-form input {
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.search-form button {
  margin-left: 6px;
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #dcbfa6;
}
.popular-things-bloc {
  height: max-content;
}
.popular-things {
  font-size: 30px;
  text-align: center;
  align-items: center;
  color: #6b2c91;
}

.popular-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.conteiner_popular {
  background: rgba(173, 202, 235, 0.5);
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.now-buy-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.now-buy-card {
  background: rgba(247, 249, 217, 0.5);
  border-radius: 12px;
  padding: 12px;
  width: 250px;
  text-align: center;
}

.now-buy-card img {
  width: 100%;
  height: 300px;
  object-fit: cover; /* акуратне обрізання */
  border-radius: 10px;
}

.now-buy-card button {
  margin-top: 10px;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
  background: #cfb39c;
  font-weight: 600;
}

.border-button {
  border: 2px solid rgba(241, 179, 248, 0.5);
}
main {
  flex: 1; /* головний контент займає весь доступний простір */
}
.footer {
  display: flex;
  text-align: center;
  background: rgb(245, 217, 248, 0.5);
  height: 50px;
  justify-content: center;
  align-items: center;
}

.border-button {
  padding: 10px;
  margin-left: 20px;
}
button {
  background: rgb(223, 180, 145);
  border: 2px solid;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}
img {
  width: 100%;
}

.field-question {
  background: rgb(211, 230, 212);
}

.up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-decoration: none;
  background: #dcbfa6;
  color: #000;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: bold;
}
.about-us-info {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  background: rgba(245, 217, 248, 0.2);
  border-radius: 8px;
  font-family: Arial, sans-serif;
}
.about-us-info h2 {
  text-align: center;
  color: #6b2c91;
  margin-bottom: 30px;
}
.conteiner-page {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  background: rgba(245, 217, 248, 0.2);
  border-radius: 8px;
  font-family: Arial, sans-serif;
}
.conteiner-page h2 {
  text-align: center;
  color: #6b2c91;
  margin-bottom: 30px;
}
li {
  padding: 10px;
}
.conteiner-contacts {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  background: rgba(245, 217, 248, 0.2);
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.conteiner-contacts h2 {
  text-align: center;
  color: #6b2c91;
  margin-bottom: 30px;
}

.regisration-form {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  background: rgba(245, 217, 248, 0.2);
  border-radius: 8px;
  text-align: left;
}
.regisration-form label {
  display: block;
  margin-top: 10px;
}

.regisration-form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}
