table {
  border: 1px solid #000;
  border-spacing: 0px;
  width: 600px;
  height: 600px;
}
td {
  border: 5px solid #000;
  padding: 5px;
}
.color-yellow {
  background-color: yellow;
}
.color-red {
  background-color: red;
}
.color-black {
  background-color: black;
}
.color-blue {
  background-color: blue;
}
