@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Roboto-VariableFont_wdth\,wght.ttf");
}
.primary-middle {
  background-color: #eeeff1;
}
.dark {
  background-color: #34547a;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1024px;
  margin: 0 auto;
}
.navigation {
  padding-block: 79px;
  letter-spacing: 10%;
}
.menu {
  display: flex;
  gap: 48px;
}
.menu li {
  list-style: none;
}
.menu li a {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: black;
}
.menu li a:hover {
  color: #34547a;
}
.page-title h1 {
  padding-top: 83px;
  font-size: 48px;
  padding-bottom: 60px;
}
.heder_text {
  font-size: 16px;
  color: #727272;
  width: 540px;
  padding-bottom: 65px;
}
.write-me {
  padding: 25px 41px 17px 41px;
  color: #ffffff;
  background-color: #34547a;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
}
.header {
  padding-bottom: 141px;
}
section.about-me {
  border-color: #f9f9f9;
}
section.about-me .container {
  padding-block: 112px 100px;
  text-align: center;
}
section.about-me .container h2 {
  font-size: 32px;
  padding-bottom: 50px;
}
section.about-me .container .about-text {
  min-width: 540px;
  margin: 0 auto;
  line-height: 168%;
  color: #727272;
}
section.projects {
  padding-block: 100px;
}
section.projects .my-projects {
  display: flex;
  gap: 49px;
  color: white;
  /* padding-bottom: 32px; */
}
section.projects .my-projects li {
  list-style: none;
  width: 141px;
  height: 50px;
  background-image: url("/img/project.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 70px;
}
section.projects .my-projects li span {
  font-size: 16px;
}
.light {
  background-color: #eeeff1;
}
section.how-i-work .container {
  padding-block: 100px 57px;
  text-align: center;
}
section.how-i-work .container h2 {
  font-size: 32px;
  padding-bottom: 50px;
}
section.how-i-work .container .work-text {
  min-width: 540px;
  margin: 0 auto;
  line-height: 164%;
  color: #727272;
  padding-bottom: 57px;
}
.new-video {
  width: 100%;
  aspect-ratio: 16 / 9;
}
.footer {
  padding-block: 50px;
  color: white;
}
.footer .author {
  font-size: 21px;
  padding-bottom: 20px;
}
.footer .copyright {
  font-size: 13px;
}
